#header {
  background-color: #5f8adf;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.list-item {
  float: right;
}

.percent {
  background-color: #198754;
  border-radius: 15px;
}